<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.IUserRoleDAO">
<!-- resultMap:结果映射 -->
  <resultMap id="roleResultMap" 
	type="demo.Role">
	    <!-- ID只能映射主键 -->
		<id property="rid" column="rid" />
		<result property="roleName" column="roleName" />
		<result property="remark" column="remark" />
	    
	    <!-- 一对多映射 -->
	    <!-- 第二种：嵌套结果 -->
	    <collection property="user" 
	    ofType="demo.User" 
	    javaType="java.util.List">
	      <id column="userId" property="userId"/>  
		<result column="userName" property="userName"/>  
		<result column="pwd" property="pwd"/> 
		<result column="realName" property="realName"/> 
		
	    
	    </collection>
	</resultMap>
	
	
	<select id="selectUser" 
	parameterType="demo.Role" resultMap="roleResultMap">
	    SELECT
   id
   ,username
  FROM tbl_user
  WHERE id in (
   SELECT userid
   FROM t_user_role
   WHERE roleid in (
    SELECT id 
    FROM t_role
    WHERE rolename = #{rolename}
   )
  ) 

	</select>
	
	<!-- 根据用户编号查询该用户的所有订单信息 -->
	<select id="selectRole" parameterType="int" 
	resultMap="roleResultMap">
	   SELECT
   username
   ,realname
  FROM t_user
  WHERE id in (
   SELECT userid
   FROM t_user_role
   WHERE roleid = #{roleid}
  ) 

	</select>
 

</mapper>







