<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="demo.IUserRoleDAO">
	<resultMap type="demo.User" id="UserResultMap">
	<id column="userId" property="userId"/>  
		<result column="userName" property="userName"/>  
		<result column="pwd" property="pwd"/> 
		<result column="realName" property="realName"/> 
	
	</resultMap>
	
	<select id="role" resultMap="UserResultMap">
	 SELECT
   count(*)
  FROM t_user
  WHERE id in (
   SELECT userid
   FROM t_user_role
  ) 

	</select>
	
	
</mapper>